div{
    width: 800px;
    background:#111;
    font-family: Arial;
    border-radius:4px;
    padding: 30px;
    margin: 20px;
    
}
p{
 color: #b2b2b2;
    
}
span{
    color:#febe01;
}
h2{
    color: white;
}

a{
    padding: 10px;
    border-radius: 4px;
    color: #332200;
    background: #febe01;
    text-decoration: none;
    font-family: arial;
    display: inline-block;

}
h1{
    text-align: center;
}